@use './styles/variables' as *;
@use './styles/custom' as *;

h1 {
  font-size: 4rem;
}

.App {
  min-height: 100vh;

  background-color: $light-bg;
}

.dark {
  // @include set-theme($custom-colors-dark);
}