.CharacterSelect {
}

.card-feed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 24px;
}

.create-btn-container {
  display: flex;
  justify-content: center;
}
// .create-char-btn {
//   // width: auto;
//   scale: 2 2;
// }

.page-title {
  margin-top: 0;
  font-size: 2.5rem;
}

.filter {
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.order-btn {
  display: inline-block;
  width: 25px;
  height: 100%;
}

.sort {
  display: flex;
  align-items: center;
}

.sort-select {
  display: inline-block;
  // min-width: 50%;
  margin-right: 12px;
}

