@use "sass:map";
@use '../../styles/variables';

h1, h2 {
  text-align: center;
  color: map-get(variables.$theme, "accent");
  
  a {
    text-decoration: none;
  }
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
  padding: 10% 20px 80px;
}

.auth-group {
  margin-top: 60px;
  width: 200px;

  a {
      display: block;
      margin-top: 24px;
    }
}

.title {
  // margin-top: 80px;
  font-size: 5rem;
}
.t1 {
  font-family: 'Allerta Stencil', sans-serif;
}
.t2 {
  font-family: 'Monda', system-ui;
  font-weight: 700;
  font-optical-sizing: auto;
}
.t3 {
  font-family: "Francois One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.t4 {
  font-family: "Righteous", system-ui;
  font-weight: 400;
  font-style: normal;
  }
.t5 {
font-family: "Merriweather Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}
.t6 {
  font-family: "Play", system-ui;
  font-weight: 700;
  font-style: italic;
}
.t7 {
  font-family: "Teko", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.t8 {
  font-family: "Bebas Neue", system-ui;
  font-weight: 400;
  font-style: normal;
}

a {
  color: map-get(variables.$theme, "accent");
}

// label {
//   margin-right: 20px;
// }

.Login, .Register {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // * {
  //   display: block;
  // }
}