@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// LIGHT
$light-bg: #dcecf9;
$light-primary: #3235ce;
$light-secondary: #bcbcbc;
$light-dark: #333;
$light-text: #333;

$link-color: $light-text;
$border-color: $light-text;

$custom-colors-light: (
  // "background": $light-bg,
  // "primary": $light-primary,
  // 'secondary': $light-secondary,
  // 'accent': $light-dark,
  // 'text': $light-text,
);

$custom-colors-text-light: (
  // "primary": ,
  // "secondary": ,
  // "success": ,
  // "info": ,
  // "warning": ,
  // "danger": ,
  // "light": ,
  // "dark": ,
);

// DARK
$dark-bg: #48aafb;
$dark-primary: #c932ce;
$dark-secondary: #dd1d1d;
$dark-dark: #ddd;
$dark-text: #e8e8e8;
$dark-link-color: #c60000;

// $body-bg-dark: #bdbd00;

$custom-colors-dark: (
  "background": $dark-bg,
  "primary": $dark-primary,
  'secondary': $dark-secondary,
  'accent': $dark-dark,
);

$custom-colors-text-dark: (
    // "primary": red,
    // "secondary": ,
    // "success": ,
    // "info": ,
    // "warning": ,
    // "danger": ,
    // "light": ,
    // "dark": ,
);
